{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign in </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    	function goBack() {
        window.history.back();
        }

        function scroll_to_top() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>

        <script>
        function showMsg()
        var x = document.getElementById("msg");
  	    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";}
  	    else {
        x.style.display = "none";}
	    }
	</script>
</head>
<body>
	<div class="navbar">
		<ul>
  		    <li><a class="active" href="/mainpage">Home</a></li>
  		    <li><a href="/patient_dashboard">Patient</a></li>
  		    <li><a href="/doc_dashboard">Doctor</a></li>
  		    <li><a href="/assistant_dashboard">Assistant</a></li>
  		    <li><a href="/about_us">About us</a></li>
  		    <li><a href="/mainpage">Contact us</a></li>
			{% if user.is_authenticated %}
            <div class="dropdown">
                <li id="navbar_login"><a href="#">{{ user.first_name }}</a></li>
                <div class ="dropdown-content">
                    <li id="subnavbar_logout"><a href="/logout">Logout</a></li>
                </div>
            {% else %}
                <li id="navbar_login"><a href="/login">Login</a></li>
            {% endif %}
	        </div>
        </ul>
    </div>
    <br><br><br>

    <div class="background">
        <br><br>
        <p id="signin">Sign in </p><br> <p id="login">Already a member yet? <u style="color:lightblue;"><a href="/login">Log in</a></u></p></p>
        <div class="social_media">
            <button id="Facebook"><a style="text-decoration: none;color:white" href="{% provider_login_url 'facebook' method='oauth2' %}">Sign in with Facebook</a></button>
            <button id="Gmail"><a style="text-decoration: none;color:white" href="{% provider_login_url 'google' %}">Sign in with Gmail</a></button>
        </div>

        <form action="signin" method="post">
            {% csrf_token %}
            <div class="container">
                <input type="text" placeholder="Enter Username" name="username" required><br>
                <input type="text" placeholder="Enter Email id" name="email" required><br>
                <input type="text" placeholder="Enter First Name" name="first_name" required><br>
                <input type="text" placeholder="Enter Last Name" name="last_name" required><br>
                <input type="password" placeholder="Enter Password" name="password1" required><br>
                <input type="password" placeholder="Confirm Password" name="password2" required><br><br>

                <input type="checkbox" checked="checked_box" style="margin-left:-350px;"> Remember me<br>
                <a href="#">{% for message in messages %} {{message}} {% endfor %}</a><br><br><br>
                <button type="submit" class="button log_but" onclick="showMsg()">Login</button> <br>
            </div>
        </form>
    </div>

    <div class="end_btns">
        <div class="backButton">
            <img onclick="goBack()" src="{% static 'images/back_btn.png' %}"></img>
        </div>

        <div class="scroll_btn">
            <img style="right: 80px;" onclick="scroll_to_top()" src="{% static 'images/scroll_up.png' %}"></img>
        </div>
    </div>
    <br><br>

</body>
</html>