<!DOCTYPE html>
{% load static %}
<html> 
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/student_lectures_list.css' %}">
  <title> Search Patients </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    	function goBack() {
        window.history.back();
        }

        function scroll_to_top() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>
</head>
<body>
  <div class="navbar">
		<ul>
  		    <li><a href="/homepage">Home</a></li>
            <li><a href="/branch">Branch</a> </li>
                <div class="dropdown">
                    <li id="navbar_login"><a href="/login">Login</a></li>
                    <div class ="dropdown-content">
                        <li id="subnavbar_logout"><a href="/student_login">Student</a></li><br>
                        <li id="subnavbar_logout"><a href="/teacher_login">Teacher</a></li>
                    </div>
                </div>
        </ul>
    </div>
    <br><br>

    <form action="/search" method="get">
        {% csrf_token %}
        <input id="searchbar" type="text" placeholder="Enter the topic name" name="search_term" required>
        <button>Search</button>
    </form>

  <div class="schedule_appt">
      <p><b>Recorded Lectures</b></p>
  </div>

  {% for file in files %}
  <ul>
      <li class="lecture_name_box">
          <form method="get" action="student_videolecture">
              <h2 name="lecture_no_list">Lecture {{file.lecture_no}}:</h2> <h2 name="topic_name_list"> {{file.topic_name}}</h2>
            <button class="details_btn" onclick="window.location.href='/student_videolecture';"><span>Watch Lecture</span></button>
          </form>
      </li>
      <br><br><br><br><br><br>

  </ul>
  {% endfor%}

    <div class="end_btns">
      <div class="backButton">
        <img onclick="goBack()" src="{% static 'images/back_btn.png' %}"></img>
      </div>

      <div class="scroll_btn">
        <img style="right: 80px;" onclick="scroll_to_top()" src="{% static 'images/scroll_up.png' %}"></img>
      </div>
    </div>
    <br><br><br>

    <div class="end">
	</div>
 </body>
</html>
