<!DOCTYPE html> 
<html> 
<head>
    <link rel="stylesheet" href="css/TeacherVideo.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Lecture </title>
</head>  
<body >
<div class="navbar">
		<ul>
  		    <li><a href="/homepage">Home</a></li>
            <li><a href="/branch">Branch</a> </li>
                <div class="dropdown">
                    <li id="navbar_login"><a href="/login">Login</a></li>
                    <div class ="dropdown-content">
                        <li id="subnavbar_logout"><a href="/student_login">Student</a></li><br>
                        <li id="subnavbar_logout"><a href="/teacher_login">Teacher</a></li>
                    </div>
                </div>
        </ul>
    </div>
<!--<label><h1><i>Lecture #: Title</i></h1></label>-->

<div class="center">
    <br><br>

    <label >Lecture No. :</label>
    <input type="text" placeholder="Lecture no.">
    <br><br><br>

    <label >Topic Name :</label>
    <input type="text" placeholder="Topic name " width="10px">
    <br><br><br>

    <label >Video </label>
    <input type="file" ></input>
    <br><br><br>

    <label >Notes </label>
    <input type="file"></input>
    <br><br><br>

    <button class="button button1">Upload</button>
</div>





</body>   
</html>