{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sign in </title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    	function goBack() {
        window.history.back();
        }

        function scroll_to_top() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
    </script>

        <script>
        function showMsg()
        var x = document.getElementById("msg");
  	    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";}
  	    else {
        x.style.display = "none";}
	    }
	</script>
</head>
<body>
	<div class="navbar">
		<ul>
  		    <li><a href="/homepage">Home</a></li>
            <li><a href="/branch">Branch</a> </li>
                <div class="dropdown">
                    <li id="navbar_login"><a href="/student_loginlogin">Login</a></li>
                    <div class ="dropdown-content">
                        <li id="subnavbar_logout"><a href="/student_login">Student</a></li><br>
                        <li id="subnavbar_logout"><a href="/teacher_login">Teacher</a></li>
                    </div>
                </div>
        </ul>
    </div>
		<br><br><br>

    <div class="background">
        <br><br>
        <p id="signin">Teacher Sign in <br><p>A Student? <a href="/student_login"> Login</a></p></p>
        <div class="social_media">
            <button id="AlreadyMember"><a style="text-decoration: none;color:white" href="/teacher_login">Already a member? Login</a></button>
            <button id="Gmail"><a style="text-decoration: none;color:white" href="{% provider_login_url 'google' %}">Sign in with Gmail</a></button>
        </div>

        <form action="teacher_signin" method="post">
            {% csrf_token %}
            <div class="container">
                <input type="text" placeholder="Enter Username" name="username" required><br>
                <input type="text" placeholder="Enter Email id" name="email" required><br>
                <input type="text" placeholder="Enter First Name" name="first_name" required><br>
                <input type="text" placeholder="Enter Last Name" name="last_name" required><br>
                <input type="password" placeholder="Enter Password" name="password1" required><br>
                <input type="password" placeholder="Confirm Password" name="password2" required><br><br>

                <input type="checkbox" checked="checked_box" style="margin-left:-350px;"> Remember me<br>
                <a href="#">{% for message in messages %} {{message}} {% endfor %}</a><br>
                <button type="submit" class="button signin_but" onclick="showMsg()">Sign In</button> <br>
            </div>
        </form>
    </div>

    <div class="end_btns">

        <div class="scroll_btn">
            <img style="right: 80px;" onclick="scroll_to_top()" src="{% static 'images/scroll_up.png' %}"></img>
        </div>
    </div>
    <br><br>

</body>
</html>