body
{
	font-family: "Helvetica",serif;
	line-height: 1.6em;
	text-align: center;
}
body 
{
    font-family: "Helvetica",serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.button {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.button:hover {
  background-color: #777;
}

.image 
{ 
    -webkit-filter: blur(4px); 
    filter: blur(4px); 
}

.centered2
{
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 35px;
  color: white;

  transform: translate(-50%, -50%);
}
.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 35px;
  color: white;
  transform: translate(-50%, -50%);
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: black;
  display: none;
  padding: 0px;
  text-align: center;
}

#Students {background-color:#f5fcff;}
#Teachers {background-color:#f5fcff;}

.navbar ul {
  position: absolute;
  list-style-type: none;
  top: 0;
  width: 98.8%;
}
.navbar li
{
  float: left;
  border-right:1px solid black;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a, .dropbtn
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  text-decoration: none;
}

.navbar li a:hover:not(.active)
{
  color:lightblue;
}

.active
{
  background-color: #38A7E3;
  text-decoration: none;
  border-bottom:3px solid black;
  height: 30px;
}

#navbar_login{
    float:right;
    margin-right: 30px;
}

.dropdown {
  float:right;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 120px;
  z-index: 1;
  text-align: center;

}

.dropdown-content a {
  color: black;
  padding: 35px 35px;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin-left: 10px;

}

.dropdown-content a:hover {
    background-color: rgb(245, 245, 245);
  color: #fff;
}

.dropdown:hover .dropdown-content {display: block;}

.end_btns img{
    position: fixed;
    bottom:10px;
    width:80px;
    height:80px;
    font-size: 20px;
    border:none;
    background-color: none;
    outline:none;
    cursor: pointer;
}

.end_btns img:hover{
    opacity: 0.7;
    outline:none;
}
.end_btns img:active{
    outline:none;
    border: none;
}

.scroll_btn img{
    left: 1280px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    height:40%;
    border-radius: 5px;
    margin-right: 40%;
    align-content: center;
    margin-left: 15%;
    display: flex;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
    align-content: center;
    margin-left : 27px;
    margin-top: 25px;
  }
  
  .container {
    padding: 2px 16px;
    align-content: center;
    
  }

.column 
{
    float: left;
    margin-left: 20px;
    width: 30%;
    padding: 10px;
    align-content: center;
}
.row::after
{
    content: "";
    display: table;
    clear: both;
    display: flex;
  }