body
{
	font-family: "Helvetica",serif;
	line-height: 1.6em;
	text-align: center;
}

.navbar ul
{
  /*border-bottom: 5px lightblue solid;*/
  list-style-type: none;
  margin: 0;
  font-size: 20px;
  padding: 12px;
  font-family: "Merriweather",serif;
  overflow: hidden;
  /*background-color: green;*/
}

.navbar ul {
  position: absolute;
  top: 0;
  width: 98.8%;
}
.navbar li
{
  float: left;
  border-right:1px solid black;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a, .dropbtn
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  text-decoration: none;
}

.navbar li a:hover:not(.active)
{
  color:lightblue;
}

.active
{
  background-color: #38A7E3;
  border-bottom:3px solid black;
  height: 30px;
}

#navbar_login{
    float:right;
    margin-right: 30px;
}

.dropdown {
  float:right;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 120px;
  z-index: 1;
  text-align: center;

}

.dropdown-content a {
  color: black;
  padding: 35px 35px;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin-left: 10px;
}

.dropdown-content a:hover {
    background-color: rgb(245, 245, 245);
    color: #fff;
}

.dropdown:hover .dropdown-content {display: block;}

.login_title{
  color: #000080;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40pt;
}

#signin{
  margin-top:30px;
  margin-left: 580px;
  width: 250px;
  font-size: 40px;
}

#login{
  margin-top:-50px;
  margin-left: 450px;
  width: 500px;
  font-size: 15px;
}

.social_media{
  margin-top: 140px;
  margin-left: 160px;
  width: 550px;
}

#Facebook{
  width: 60%;
  background: #ccc url('fb_logo.png') no-repeat top left;
  background-color: #3b5998;
  color: white;
  font-size: 15px;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

#Gmail{
  width: 60%;
  background-color: #4285F4;
  color: white;
  font-size: 15px;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
.container {
  padding: 25px;
  width: 550px;
  margin-top: -240px;
  margin-left: 700px;
  height: 600px;
  border-left: 2px solid #000080;
}

input[type=text], input[type=password] {
  width: 100%;
  border:none;
  width:400px;
  font-size:20px;
  margin: 8px;
  margin-left: -30px;
  padding: 12px 20px;
  border-bottom: 2px solid black;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 22px;
  /*margin: 4px 2px;*/
  transition-duration: 0.4s;
  cursor: pointer;
}

.log_but {
  background-color: white;
  width:150px;
  border-radius:20px;
  color: black;
  margin-left:370px;
  border: 2px solid #4285F4;
}

.log_but:hover {
  background-color: #4285F4;
  color: white;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

.msg p{
    background: #F81826;
    background-opacity: 0.7;
    height: 40px;
    font-size: 17px;
    color: black;
    width: 600px;
    margin-left: 900px;
}
.end
{
padding-top: 5%;
opacity: 0.7;
 }

.end_btns img{
    position: fixed;
    bottom:10px;
    width:80px;
    height:80px;
    font-size: 20px;
    border:none;
    background-color: none;
    outline:none;
    cursor: pointer;
}

.end_btns img:hover{
    opacity: 0.7;
    outline:none;
}
.end_btns img:active{
    outline:none;
    border: none;
}

.backButton img  {
    left: 40px;
}

.scroll_btn img{
    left: 1280px;
}