body
{
	font-family: "Helvetica",serif;
	line-height: 1.6em;
	text-align: center;
}

.navbar ul
{
  /*border-bottom: 5px lightblue solid;*/
  list-style-type: none;
  margin: 0;
  font-size: 20px;
  padding: 12px;
  font-family: "Merriweather",serif;
  overflow: hidden;
  /*background-color: green;*/
}

.navbar ul {
  position: absolute;
  top: 0;
  width: 98.8%;
}
.navbar li
{
  float: left;
  border-right:1px solid black;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a, .dropbtn
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  text-decoration: none;
}

.navbar li a:hover:not(.active)
{
  color:lightblue;
}

.active
{
  background-color: #38A7E3;
  border-bottom:3px solid black;
  height: 30px;
}

#navbar_login{
    float:right;
    margin-right: 30px;
}

.dropdown {
  float:right;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 120px;
  z-index: 1;
  text-align: center;

}

.dropdown-content a {
  color: black;
  padding: 35px 35px;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin-left: 10px;

}

.dropdown-content a:hover {
  background-color: rgb(245, 245, 245);
  color: #fff;
}

.dropdown:hover .dropdown-content {display: block;}

.end
{
  padding-top: 5%;
  opacity: 0.7;
}

input[type=text] { 
    width: 630px; 
    margin-top: 70px;
    margin-left: 600px;
    padding: 12px 40px; 
    border: 2px solid #000080; 
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
}

.schedule_appt p{
    font-size: 30px;
}

#searchbar
{
    margin-top: 20px;
    height:30px;
    width: 450px;
    margin-right:-160px;}

.subject_name_box{
    background: #fff;
    border-top:1px solid black;
    border-radius: 10px;
    box-shadow: 1px 10px 10px;
    display: flex;
    max-width:100%;
    overflow: hidden;
    position: absolute;
    height:90px;
    width: 800px;
    left: 22%;
    right: 2%;
}

h2{
    letter-spacing: 0.5px;
    margin:14px
}
.details_btn {
    background : #38A7E3;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight:bold;
    transition: 0.3s ;
    border-radius: 10px;
}

.details_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.details_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.details_btn:hover span {
  padding-right: 25px;
  opacity: 1.5;
}

.details_btn:hover span:after {
  opacity: 1.5;
  right: 0;
}

.end
{
  padding-top: 5%;
  opacity: 0.7;
}

.end_btns img{
    position: fixed;
    bottom:10px;
    width:80px;
    height:80px;
    font-size: 20px;
    border:none;
    background-color: none;
    outline:none;
    cursor: pointer;
}

.end_btns img:hover{
    opacity: 0.7;
    outline:none;
}
.end_btns img:active{
    outline:none;
    border: none;
}

.backButton img  {
    left: 40px;
}

.scroll_btn img{
    left: 1280px;
}