body
{
	font-family: "Helvetica",serif;
	line-height: 1.6em;
	text-align: center;
}

.navbar ul
{
  /*border-bottom: 5px lightblue solid;*/
  list-style-type: none;
  margin: 0;
  font-size: 20px;
  padding: 12px;
  font-family: "Merriweather",serif;
  overflow: hidden;
  /*background-color: green;*/
}

.navbar ul {
  position: absolute;
  top: 0;
  width: 98.8%;
}
.navbar li
{
  float: left;
  border-right:1px solid black;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a, .dropbtn
{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  text-decoration: none;
}

.navbar li a:hover:not(.active)
{
  color:lightblue;
}

.active
{
  background-color: #38A7E3;
  border-bottom:3px solid black;
  height: 30px;
}

#navbar_login{
    float:right;
    margin-right: 30px;
}

.dropdown {
  float:right;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 120px;
  z-index: 1;
  text-align: center;

}

.dropdown-content a {
  color: black;
  padding: 35px 35px;
  background-color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin-left: 10px;

}

.dropdown-content a:hover {
    background-color: rgb(245, 245, 245);
  color: #fff;
}

.dropdown:hover .dropdown-content {display: block;}

.end
{
    padding-top: 5%;
    opacity: 0.7;
 }

 .upload_opt:button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 22px;
  /*margin: 4px 2px;*/
  transition-duration: 0.4s;
  cursor: pointer;
}

.upload_opt {
  background-color: white;
  width:150px;
  border-radius:20px;
  color: black;
  margin-left:370px;
  border: 2px solid #4285F4;
}

.upload_opt button:hover {
  background-color: #4285F4;
  color: white;
}


.end_btns img{
    position: fixed;
    bottom:10px;
    width:80px;
    height:80px;
    font-size: 20px;
    border:none;
    background-color: none;
    outline:none;
    cursor: pointer;
}

.end_btns img:hover{
    opacity: 0.7;
    outline:none;
}
.end_btns img:active{
    outline:none;
    border: none;
}

.backButton img  {
    left: 40px;
}

.scroll_btn img{
    left: 1280px;
}